version: 2.1

bun-image: &bun-image
  - image: oven/bun:latest
    environment:
      ntfyName: $ntfyName
      statusPageUrl: $statusPageUrl

jobs:
  check-draw:
    docker: *bun-image
    steps:
      - checkout
      - run: bun install
      - run: bun test
      - run: bunx playwright install --with-deps
      - run: bunx playwright install chromium
      - run: bun run index.ts

workflows:
  version: 2
  check-draw:
    when:
      and:
        - equal: [scheduled_pipeline, << pipeline.trigger_source >>]
        - equal: ["check-draw", << pipeline.schedule.name >>]
    jobs:
      - check-draw
