version: 2.1

bun-image: &bun-image
  - image: oven/bun:latest
    environment:
      ntfyName: $ntfyName
      statusPageUrl: $statusPageUrl
git-image: &git-image
  - image: alpine/git:latest

jobs:
  check-draw:
    docker: *bun-image
    steps:
      - checkout
      - run: bun install
      - run: bun test
      - run: bunx playwright install --with-deps
      - run: bunx playwright install chromium
      - run: bun run index.ts
      - persist_to_workspace:
          root: ~/
          paths:
            - project
            - .circlerc
      
  push-new-data:
    docker: *git-image
    steps:
      - attach_workspace:
          at: ~/
      - run: git add last-draw-data.json
      - run: git commit -m "updating most recent draw data"
      - run: git push

workflows:
  version: 2
  check-draw:
    when:
      and:
        - equal: [scheduled_pipeline, << pipeline.trigger_source >>]
        - equal: ["check-draw", << pipeline.schedule.name >>]
    jobs:
      - check-draw
      - push-new-data:
          requires:
            - check-draw
  push:
    jobs:
      - check-draw
      - push-new-data:
          requires:
            - check-draw
